%h2
  = t('home.title')

%div.container
  %div.layout-grid
    %div.child
      %p
        We created this website because of the issues of social media platforms not letting smaller voices be heard
        on their site and allowing their posts to be clouded by advertisements that have been paid for by coporations
        and other bigger buisness. We've seen that this isolates the users from becoming knowlegdgable about certain
        topics.
      %p
        That is why we have created Trend Tracker! A web-map application that allows its users to explore the most popular
        and current trends on social media platforms. Not only can you see the trends in your current locaiton but you can
        also see the current trends happening all over the world at any given time.
      %p
        Come and find out what the world is thinking right now!

    %div.child
      = link_to discoveries_path do
        %img.preview{:src => "/assets/map/trend-tracker-preview-anim.gif"}

      %a.map-btn{:href => discoveries_path }
        %button.go-map
          = t('home.btn_map')