%h2
  = t('home.title')

%div.container
  %div.layout-grid
    %div.child
      %p
        = t('home.desc_overview')
      %p
        = t('home.desc_tagline')

    %div.child
      %h3 Map Preview

      %iframe.preview{src: 'https://www.youtube.com/embed/9UdC0z_6bLI'}

      %a.map-btn{:href => discoveries_path }
        %button.go-map
          = t('home.btn_map')