- if @all_trend_data.nil?
  %body
    %div.container
      %div.layout-grid
        %div.child
          %p
            Unable to Load the map, try to refresh!
- else
  %div.map-display{id: "map", class: 'map'}
    :javascript
      function getJSONFeatures(input) {
        return JSON.parse(input.replaceAll('&quot;', '\"'))
      }

      var rails_source = new EventSource('/discoveries/events');

      rails_source.addEventListener('location', (function (evt) {
        map.getSource('points').setData({
          type: "FeatureCollection",
          features: getJSONFeatures(evt.data)
        });
      }));

      var trend_data = getJSONFeatures("#{@all_trend_data}")

      var latitude = parseFloat("#{@latitude}")
      var longitude = parseFloat("#{@longitude}")
      var zoom = 0;
      if (longitude !== 0 && latitude !== 0) zoom = 8

      var token = 'pk.eyJ1IjoibWF4Y3J0ciIsImEiOiJja20wcnB5bzUxbHlyMm5yemlqbnU4MTU5In0.IqwYS8p6fK7XwiJ_hTRFSA'
      mapboxgl.accessToken = token;
      var map = new mapboxgl.Map({
        container: 'map',
        center: [longitude, latitude],
        //style: 'mapbox://styles/mapbox/dark-v10',
        //style: 'mapbox://styles/mapbox/streets-v11',
        style: 'mapbox://styles/maxcrtr/cko2y899n2an517np9spbrw3s',
        zoom: zoom
      });

      map.addControl(
        new MapboxGeocoder({
          accessToken: token,
          mapboxgl: mapboxgl
        })
      );

      var icon = "#{asset_path("map/trend_symbol.png")}"

      map.on('load', function() {
          // Add an image to use as a custom marker
        map.loadImage(
          icon,
          function(error, image) {
            if (error) throw error;
            map.addImage('custom-marker', image);
                  // Add a GeoJSON source with 2 points
            map.addSource('points', {
              type: 'geojson',
              data: {
                type: 'FeatureCollection',
                features: trend_data
              }
            });

            // Add a symbol layer
            map.addLayer({
              'id': 'points',
              'type': 'symbol',
              'source': 'points',
              'layout': {
                'icon-image': 'custom-marker',
                'text-field': ['get', 'title'],
                'text-font': [
                  'Open Sans Semibold',
                  'Arial Unicode MS Bold'
                ],
                'text-offset': [0, 1.25],
                'text-anchor': 'top'
              }
            });
          }
        );
      });