%h2
  = t('about.title')

%div.container
  %div.layout-grid
    %div.child
      %p
        = t('about.description')

    %div.child
      = link_to discoveries_path do
        %img.preview{:src => "/assets/map/trend-tracker-preview-anim.gif"}

    %div.child
      %p
        =t('about.promote_sign_up')