//global variable file

//colours
$rgb-base-colour: #0080FF;
$back-colour: #151515;
$back-hover-colour: #191919;
$background: #2d2d2d;
$text-subtle-colour: #99a1a7;
$text-colour: #FFFFFF;
$back-colour-warning: #9f2626;
$back-colour-warning-hover: #a92929;

//fonts
$header-size: 140px;
$footer-size: 100px;

//side margins
$margin-sides: 16px;