!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')
    %link{'href' => 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css', 'rel' => 'stylesheet'}
    %script{'src' => 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'}
    %script{'src' => 'https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.7.0/mapbox-gl-geocoder.min.js'}

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{id: "body"}
    %div{id: "map", class: 'map'}
    :javascript

      const token = 'pk.eyJ1IjoibWF4Y3J0ciIsImEiOiJja20wcnB5bzUxbHlyMm5yemlqbnU4MTU5In0.IqwYS8p6fK7XwiJ_hTRFSA'

      mapboxgl.accessToken = token;
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
      });

      map.addControl(
        new MapboxGeocoder({
          accessToken: token,
          mapboxgl: mapboxgl
        })
      );

      var popup = new mapboxgl.Popup({ offset: 25 }).setText(
        '#apiTesting'
      );

      // create DOM element for the marker
      var el = document.createElement('div');
      el.id = 'marker';

      var marker = new mapboxgl.Marker()
        .setLngLat([12.550343, 55.665957])
        .setPopup(popup) // sets a popup on this marker
        .addTo(map);
