!!!

%html
  %head
    %meta{'charset' => 'utf-8'}
    %meta{'http-equiv' => 'x-ua-compatible', 'content' => 'ie=edge'}

    %title= t('app_title')
    %link{'href' => 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.css', 'rel' => 'stylesheet'}
    %script{'src' => 'https://api.mapbox.com/mapbox-gl-js/v2.1.1/mapbox-gl.js'}

    %meta{'name' => 'description', 'content' => t('app_description')}
    %meta{'name' => 'viewport', 'content' => 'width=device-width, initial-scale=1'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body{id: "body"}
    %div{id: "map", class: 'map'}
    :javascript

      mapboxgl.accessToken = 'pk.eyJ1IjoibWF4Y3J0ciIsImEiOiJja20wcnB5bzUxbHlyMm5yemlqbnU4MTU5In0.IqwYS8p6fK7XwiJ_hTRFSA';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11'
      });
